@{
    Layout = "_LayoutLogoff";
    ViewData["Title"] = "Restricted page";
}

<p>Page restricted for your user type. <a role="button" asp-controller="Contact" asp-action="Index">Back homepage</a></p>