@model ContactModel
@{
    ViewData["Title"] = "Edit contact";
}

<div class="text-center mb-4">
    <h1 class="display-4">Update contact</h1>
</div>

<form asp-controller="Contact" asp-action="Update" class="g-3 w-75 m-auto" method="post">
    <input type="hidden" asp-for="Id" />

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" asp-for="Name" class="form-control">
                <label for="name" asp-for="Name" class="form-label"></label>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="tel" asp-for="PhoneNumber" class="form-control">
                <label for="tel" asp-for="PhoneNumber" class="form-label">Phone number</label>
            </div>
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
    </div>

    <div class="form-outline mb-4">
        <input type="email" asp-for="Email" class="form-control" placeholder="email@email.com">
        <label for="email" asp-for="Email" class="form-label">Email</label>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>

    <button type="submit" class="btn btn-primary btn-block mb-4">Update</button>

    <div class="text-center">
        <a role="button" asp-controller="Contact" asp-action="Index">Back homepage</a>
    </div>
</form>