@model ContactModel
@{
    ViewData["Title"] = "Update contact";
}

<div class="text-center">
    <h1 class="display-4">Update contact</h1>
</div>

<form class="row g-3">
    <div class="col-md-6">
        <label for="name" asp-for="Name" class="form-label"></label>
        <input type="text" asp-for="Name" class="form-control">
    </div>
    <div class="col-md-6">
        <label for="tel" asp-for="PhoneNumber" class="form-label">Phone number</label>
        <input type="tel" asp-for="PhoneNumber" class="form-control">
    </div>
    <div class="col-12">
        <label for="email" asp-for="Email" class="form-label">Email</label>
        <input type="email" asp-for="Email" class="form-control" placeholder="email@email.com">
    </div>
    <div class="col-12 d-flex justify-content-end gap-1">
        <a class="btn btn-secondary" role="button" asp-controller="Contact" asp-action="Index">Back</a>
        <button type="submit" class="btn btn-primary">Update</button>
    </div>

</form>