@using ContactControl.Enums;
@model UserModel
@{
    ViewData["Title"] = "Add user";
}

<div class="text-center mb-4">
    <h1 class="display-4">Add contact</h1>
</div>

<form asp-controller="User" asp-action="Insert" method="post" class="form-mw g-3 m-auto">

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" asp-for="Name" class="form-control">
                <label asp-for="Name" class="form-label"></label>
            </div>
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col">
            <div class="form-outline">
                <input type="text" asp-for="Login" class="form-control">
                <label asp-for="Login" class="form-label"></label>
            </div>
            <span asp-validation-for="Login" class="text-danger"></span>
        </div>
    </div>

    <div class="row mb-4">
        <div class="col">
            <div class="form-outline">
                <input type="text" asp-for="Password" class="form-control">
                <label asp-for="Password" class="form-label"></label>
            </div>
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col">
            <select asp-for="Perfil" class="form-control">
                <option value="">Select</option>
                <option value="@PerfilEnum.Admin">Admin</option>
                <option value="@PerfilEnum.Default">Default</option>
            </select>
            <label asp-for="Perfil" class="visually-hidden"></label>
            <span asp-validation-for="Perfil" class="text-danger"></span>
        </div>
    </div>

    <div class="form-outline mb-4">
        <input type="email" asp-for="Email" class="form-control" placeholder="email@email.com">
        <label for="email" asp-for="Email" class="form-label">Email</label>
    </div>
    <span asp-validation-for="Email" class="text-danger"></span>

    <button type="submit" class="btn btn-primary btn-block mb-4">Add</button>

    <div class="text-center">
        <a role="button" asp-controller="User" asp-action="Index">Back homepage</a>
    </div>

</form>